body {
    font-family: 'Roboto', sans-serif;
}

textarea {
    height: 100px; 
    width: 100%; 
    resize: none; 
    box-sizing: border-box;
    padding: 3px;
}

.border {
    border-style: solid;
    border-width: 1px;
    width: 500px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.mar {
    margin: 3px;
}

.button {
    background-color: #fca649;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 16px;
}

.orange:hover {
    background-color: #ffbc75;
}

.job {
    margin: 0px;
    padding: 3px;
    border-style: none;
    border-width: 1px;
    border-top-style: solid;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
a {
    color: #ffbc75;
}

.model {
    margin: auto;
    width: 100%;
    height: 400px;
}

.approve {
    background-color: #2ad436;
     width: 100px;
}

.approve:hover {
    background-color: #77e67f;
}

.deny {
    background-color: red; 
    width: 100px;
    float: right;
}

.deny:hover {
    background-color: #ff6969;
}